{{#if flagBk }}
{{#each books }}
<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            {{this.title_book}}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>ISBN: {{this.isbn}}</p>
                <footer class="blockquote-footer">Author: <cite title="Source Title">{{this.author}}</cite>
                </footer>
            </blockquote>
        </div>
    </div>
</div>
{{/each }}
{{/if }}